@import "bourbon";
@import "neat";

$scriptFont: 'Architects Daughter';
$sansFont: 'Play';
$center: 0 auto;
$smallScreen: 650px;
$mediumScreen: 860px;


body {
    text-align: center;
    font-family: $sansFont, $helvetica;
    list-style: none;
    width: 100%;
}

h1, 
h2 {
    font-family: $scriptFont, $georgia;
    @include media($smallScreen) {
        font-size: 3rem;
    }
}

a {
    text-decoration: none;
}

nav {
    ul {
        padding: 0;
        margin: 1rem 0;
        a {
            color: #FFF;
            :visited {
                color: #FFF;
            }
        }
        .home {
            background-color: #018695;
        }
        .about {
            background-color: #f6b25b;
        }
        .contact {
            background-color: #02A844;
        }
        li {
            display: inline;
            button {
                border-style: none;
                border-radius: 1rem;
                height: 3rem;
                width: 6rem;
                box-shadow: 0.25rem 0.25rem 0.2rem #606060;
                font-weight: bold;
                letter-spacing: 0.1rem;
            }
            
        }
        @include media($smallScreen) {
            li {
                margin: 0 2.5rem;
            }
        }
        @include media($mediumScreen) {
            li {
                margin: 0 5rem;
            }
        }
    }
}

header {
    color: #FFF;
    text-shadow: 0.25rem 0.25rem 0.25rem #000;
    background-image: url('../img/reef.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 7rem;
}

.intro {
    font-style: italic;
    margin-bottom: 3rem;
}



.features {
    ul {
        padding: 0;
        list-style: none;
        display: inline-block;
        margin: $center;
        li {
            max-width: 100%;
            img {
                max-width: 100%;
                height: auto;
            }
            h2 {
                margin: 0;
            }
            p {
                margin: 0;
                margin-bottom: 2rem;
            }
            @include media($smallScreen) {
                max-width: 620px;
                height: auto;
            }
        }
        @include media($mediumScreen){
            display: inline;
            li {
                @include span-columns(4);
                padding: 0 2rem;
            }
        }
    }
}

.social {
    @include fill-parent;
    max-width: 100%;
    list-style: none;
    margin: $center;
    margin-top: 4rem;
    padding: 0;
    a {
        color: #FFF;
    }
    li {
        @include span-columns(4.184);
        padding: 0;
        margin: 0 !important;
    }
    .facebook {
        background-color: #293e71;
        :hover {
            background-color: #1D2B4F;
        }
    }
    .twitter {
        background-color: #00a9f1;
        :hover {
            background-color: #16076F;
        }
    }
    .google {
        background-color: #e0452c;
        :hover {
            background-color: #9D301F;
        }
    }
    p {
        margin: 0;
        padding: 2rem 0;
    }
}

.button {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding-right: 30px;
  padding-left: 70px;
  position: relative;
  background-color:rgb(41,127,184);
  color:rgb(255,255,255);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
    margin-top: 3rem;
  
  
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  text-shadow:0px 1px 0px rgba(0,0,0,0.5);
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true)";zoom:1;
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#ff123852,Positive=true);

  -moz-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  box-shadow:0px 2px 2px rgba(0,0,0,0.2);
  -ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=2,Color=#33000000,Positive=true);
}

.button span {
  position: absolute;
  left: 0;
  width: 50px;
    font-size: 2rem;
  background-color:rgba(0,0,0,0.5);
  
  -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
border-right: 1px solid  rgba(0,0,0,0.15);
}

.button:hover span, .button.active span {
  background-color:rgb(0,102,26);
  border-right: 1px solid  rgba(0,0,0,0.3);
}

footer {
    width: 100%;
    p {
         padding-top: 5.5rem;
    }
}

