@import "bourbon";
@import "neat";

$scriptFont: 'Architects Daughter';
$sansFont: 'Play';


body {
    text-align: center;
    font-family: $sansFont, $helvetica;
    list-style: none;
}

h1, 
h2 {
    font-family: $scriptFont, $georgia;
}

a {
    text-decoration: none;
}

nav {
    ul {
        padding: 0;
        margin: 1rem 0;
        li {
            display: inline;
            margin: 0 1.5rem;
        }
    }
}

header {
    color: #FFF;
    text-shadow: 0.25rem 0.25rem 0.25rem #000;
    background-image: url('../img/reef.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 100px;
}

.intro {
    font-style: italic;
    margin-bottom: 3rem;
}



.features {
    ul {
        padding: 0;
        li {
            max-width: 100%;
            margin: 0;
            img {
                max-width: 100%;
                height: auto;
            }
            h2 {
                margin: 0;
            }
            p {
                margin: 0;
                margin-bottom: 2rem;
            }
        }
    }
    @include media (720px) {
        @include span-columns(6);
    }
}

.social {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
        color: #FFF;
    }
    li {
        @include span-columns(4);
        padding: 0;
        margin: 0 !important;
    }
    p {
        margin: 0;
        padding: 2rem 0;
    }
    .facebook {
        background-color: #293e71;
    }
    .twitter {
        background-color: #00a9f1;
    }
    .google {
        background-color: #e0452c;
    }
}

footer {
    p {
         margin-top: 1rem;
    }
}

